#main-header {
    letter-spacing: 10px;
}

header {
    background-color: #210017;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #210017;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: #ffe5ec;
    margin: 40px;
}

h2 {
    font-size: 40px;
    color: #ffe5ec;
    margin: 30px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px auto;
    max-width: 800px;
}

.nav-link, .navbar-brand {
    font-size: 20px;
    color: #ffe5ec;
}

.navbar-toggler {
    border: 1px solid #ffe5ec;
    border-radius: 5px;
    padding: 10px;
    color: #ffe5ec;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.nav-link{
    transition: transform 0.5s ease;
}

.nav-link:hover {
    transform: scale(1.5);
    color: #f8b5d0;
}

figure {
    margin: 40px auto;
    width: 80%;
}

.carousel-inner {
    margin: 40px auto;
    width: 80%;
}

img {
    width: 50%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.border-custom {
    border: 1px solid #ffe5ec;
    border-radius: 5px;
}

form {
    margin: 20px;
}

label {
    font-weight: bold;
    margin: 10px;
    display: block;
}

input[type="text"], input[type="email"], select, textarea {
    width: 60%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ffe5ec;
    background-color: #210017;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

button[type="submit"] {
    background-color: #ffe5ec;
    color: #210017;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

button[type="submit"]:hover {
    background-color: #c86496;
}

iframe {
    width: 80%;
    height: auto;
    aspect-ratio: 21 / 9;
    border: none;
    border-radius: 10px;
    margin: 20px;
}

.card {
    width: 80%;
    margin: 20px auto;
    background: #210017;
    color: white;
    border: 1px solid #ffe5ec;
}

.card-header {
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid white;
}

.blockquote p {
    font-size: 20px;
}
